<p-toast position="bottom-center"></p-toast>

<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="p-formgroup-inline">
      <div class="p-field">
        <label for="amount" class="p-col-12 " >
          Amount
        </label>
      </div>
      <div class="p-field ">
        <p-inputNumber
            [(ngModel)]="initialAmount.amount"
            inputId="amount"
            mode="currency"
            currency="USD"
            locale="en-US">
        </p-inputNumber>
      </div>
      <div class="p-field smaller">
        <button pButton pRipple type="button" label="Submit" (click)="saveInitialAmount()" ></button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="p-field p-grid ">
      <label for="amount" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" >
        Amount
      </label>
      <div class="p-col-12 p-md-10">
        <p-inputNumber
          [(ngModel)]="initialAmount.amount"
          inputId="amount"
          mode="currency"
          currency="USD"
          locale="en-US">
        </p-inputNumber>
      </div>
      <div class="">
        <button pButton type="button" label="Submit"></button>
      </div>
    </div>
  </div>
</div> -->

