<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="p-grid p-fluid">
      <div class="p-field ">
        <p-inputNumber
          [(ngModel)]="initialAmount.amount"
          mode="currency"
          currency="USD"
          name="amount"
          #amount="ngModel"
          locale="en-US"
          tabindex="1"
          (onBlur)="setFocus(amount.touched, amount.dirty)" >
        </p-inputNumber>
      </div>
      <div class="p-field">
        <button pButton pRipple
          #updateButton
          name="updateButton"
          type="button"
          label="Update"
          [disabled]="!(amount.touched && amount.dirty)"
          (click)="saveInitialAmount()"
          tabindex="2">
        </button>
      </div>
    </div>
  </div>
</div>
<p-messages></p-messages>
