@import url(../../shared/styles/feature-common.scss);
@import url(../shared/styles/item-detail-common.scss);

:host ::ng-deep {
  .card-header {
    font-size: 16px;
    font-weight: 500;
  }

  .p-grid {
    margin: 0rem;
  }

  .p-field {
    vertical-align: middle;
    margin: 0rem;
    padding: 0.5rem;
  }

  label {
    vertical-align: middle;
    margin: 0rem;
    padding: 0.55rem;
    font-size: larger;
    font-weight: 400;
  }
}
