.card-header {
  font-size: larger;
  font-weight: 500;
}

.p-grid {
  margin: 0rem;
}

.p-field {
  vertical-align: middle;
  margin: 0rem;
  padding: .5rem;
}

label {
  vertical-align: middle;
  margin: 0rem;
  padding: .55rem;
  font-size: larger;
  font-weight: 400;
}

