<div class="card">
  <p-table
    #dt
    [value]="creditList"
    [rows]="8"
    [paginator]="true"
    [globalFilterFields]="['name', 'amount', 'periodName']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowHover]="true"
    dataKey="pkCredit"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">{{ pageTitle }}</h3>
        <span class="p-input-icon-left">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
          ></button>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="amount">
          Amount <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th pSortableColumn="periodName">
          Category <p-sortIcon field="periodName"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-credit>
      <tr>
        <td>{{ credit.name }}</td>
        <td>{{ credit.amount | currency: "USD" }}</td>
        <td>{{ credit.periodName }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            [routerLink]="['./edit', credit.pkCredit]"
            class="p-button-rounded p-button-success p-mr-2"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteCredit(credit.pkCredit)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog position='top' [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-messages></p-messages>
