<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveCredit()" [formGroup]="creditForm">
      <div class="p-fluid ">
        <div class="p-field p-grid">
          <label for="nameId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Name</label
          >
          <div class="p-col-12 p-md-10">
            <input
              pInputText
              id="nameId"
              type="text"
              class="p-inputtext"
              placeholder="Name (required)"
              formControlName="Name"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            />
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="amountId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Amount</label
          >
          <div class="p-col-12 p-md-10">
            <p-inputNumber
              id="amountId"
              formControlName="Amount"
              mode="currency"
              currency="USD"
              placeholder="Amount (required)"
              locale="en-US"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="periodId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Period</label
          >
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="periodId"
              formControlName="Period"
              [options]="periods"
              placeholder="Select a Period"
              optionLabel="name"
              optionValue="pkPeriod"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="annualMOYId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Month</label
          >
          <div class="p-col">
            <p-dropdown
              id="annualMOYId"
              formControlName="AnnualMOY"
              [options]="months"
              placeholder="Select a Month"
              optionLabel="key"
              optionValue="value"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="annualDOMId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Day</label
          >
          <div class="p-col">
            <p-dropdown
              id="annualDOMId"
              formControlName="AnnualDOM"
              [options]="daysInMonth"
              placeholder="Select a Day"
              optionLabel="key"
              optionValue="value"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="dateRangeReqId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Date Range?</label
          >
          <div class="p-col p-field-checkbox">
            <p-checkbox
              formControlName="DateRangeReq"
              [binary]="true"
            ></p-checkbox>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="beginDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Start Date</label
          >
          <div class="p-col">
            <p-calendar
              id="beginDateId"
              formControlName="BeginDate"
              [showIcon]="true"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            ></p-calendar>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="endDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >End Date</label
          >
          <div class="p-col">
            <p-calendar
              id="endDateId"
              formControlName="EndDate"
              [showIcon]="true"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            ></p-calendar>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Day of Week</label
          >
          <div class="p-col p-formgroup-inline">
            <div *ngFor="let day of weekDays" class="p-field-radiobutton">
              <p-radioButton
                [inputId]="day.key"
                name="WeeklyDOW"
                [value]="day.value"
                formControlName="WeeklyDOW"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              >
              </p-radioButton>
              <label [for]="day.key">{{ day.key }}</label>
            </div>
          </div>
        </div>

        <div class="p-field p-grid">
          <div class="p-offset-2 p-col-6 top-spacer">
            <button
              pButton
              type="button"
              label="Save"
              style="width: 80px"
              type="submit"
              [title]="
                creditForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
            ></button>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-secondary p-button-outlined"
              style="width: 80px"
              title="Cancel your edits"
              [routerLink]="['../../']"
            ></button>
            <button
              pButton
              type="button"
              label="Delete"
              class="p-button-danger p-button-outlined"
              style="width: 80px"
              title="Delete this product"
              (click)="deleteCredit()"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>
<p-confirmDialog
  position="top"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
</p-confirmDialog>
<p-messages></p-messages>
