:host ::ng-deep {
  .card-header {
    font-size: 16px;
    font-weight: 500;
  }

  button {
    margin-right: .5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }
  .p-dropdown {
    width: 14rem;
  }
  .p-checkbox {
    padding-top: .5rem;
  }
}

@media screen and (max-width: 960px) {
  // :host ::ng-deep {

  // }
}
