<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <!-- Credit Reactive Form -->
    <form novalidate (ngSubmit)="saveCredit()" [formGroup]="creditForm">
      <div class="p-fluid">
        <!-- Common fields -->
        <!-- Name -->
        <div class="p-field p-grid">
          <label for="nameId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Name</label
          >
          <div class="p-col-12 p-md-10">
            <input
              pInputText
              id="nameId"
              type="text"
              class="p-inputtext"
              placeholder="Name (required)"
              formControlName="Name"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            />
          </div>
        </div>
        <!-- Amount -->
        <div class="p-field p-grid">
          <label for="amountId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Amount</label
          >
          <div class="p-col-12 p-md-10">
            <p-inputNumber
              id="amountId"
              formControlName="Amount"
              mode="currency"
              currency="USD"
              placeholder="Amount (required)"
              locale="en-US"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            >
            </p-inputNumber>
          </div>
        </div>
        <!-- Period -->
        <div class="p-field p-grid">
          <label for="periodId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
            >Period</label
          >
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="periodId"
              formControlName="Period"
              [options]="periods"
              placeholder="Select a Period"
              optionLabel="name"
              optionValue="pkPeriod"
              (onChange)="getPeriod($event)"
              [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
            >
            </p-dropdown>
          </div>
        </div>

        <!-- *** Period -> Show / Hide Sections *** -->
        <!-- Weekly -->
        <div *ngIf="periodSwitch === 3">
          <div class="p-field p-grid">
            <label for="weeklyDowId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Day of Week</label
            >
            <div class="p-col p-formgroup-inline">
              <div
                id="weeklyDowId"
                *ngFor="let day of weekDays"
                class="p-field-radiobutton"
              >
                <p-radioButton
                  [inputId]="day.key"
                  [value]="day.value"
                  formControlName="WeeklyDow"
                  [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
                >
                </p-radioButton>
                <label [for]="day.key">{{ day.key }}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Initialization Date for Every Two Weeks & Date for the Single Occurence -->
        <div *ngIf="periodSwitch === 4 || periodSwitch === 1">
          <div class="p-field p-grid">
            <label for="initDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Initialization Date</label
            >
            <div class="p-col">
              <p-calendar
                id="initDateId"
                placeholder="Select a date for start"
                formControlName="InitializationDate"
                [showIcon]="true"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-calendar>
            </div>
          </div>
        </div>
        <!-- Every Other Week -->
        <div *ngIf="periodSwitch === 4">
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Day of Week</label>
            <div class="p-col p-formgroup-inline">
              <div *ngFor="let day of weekDays" class="p-field-radiobutton">
                <p-radioButton
                  [inputId]="day.key"
                  [value]="day.value"
                  formControlName="EverOtherWeekDow"
                  [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
                >
                </p-radioButton>
                <label [for]="day.key">{{ day.key }}</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Bi-Monthly -->
        <div *ngIf="periodSwitch === 5">
          <!-- 1st Day of Month -->
          <div class="p-field p-grid">
            <label for="monthlyDay1Id" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >1st Day of Month</label
            >
            <div class="p-col">
              <p-dropdown
                id="monthlyDay1Id"
                formControlName="BiMonthlyDay1"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
          <!-- 2nd Day of Month -->
          <div class="p-field p-grid">
            <label for="monthlyDay2Id" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >2nd Day of Month</label
            >
            <div class="p-col">
              <p-dropdown
                id="monthlyDay2Id"
                formControlName="BiMonthlyDay2"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <!-- Monthly -->
        <div *ngIf="periodSwitch === 6">
          <!-- Day of Month -->
          <div class="p-field p-grid">
            <label for="monthlyDomId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Day of the Month</label
            >
            <div class="p-col">
              <p-dropdown
                id="monthlyDomId"
                formControlName="MonthlyDom"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <!-- Quarterly -->
        <div *ngIf="periodSwitch === 7">
          <!-- 1st Quarter -->
          <div class="p-field p-grid">
            <label
              for="quarterlyMoy1Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >1st Quarter</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="quarterlyMoy1Id"
                formControlName="Quarterly1Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="Quarterly1Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>

          <!-- 2nd Quarter -->
          <div class="p-field p-grid">
            <label
              for="quarterlyMoy2Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >2nd Quarter</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="quarterlyMoy2Id"
                formControlName="Quarterly2Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="Quarterly2Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>

          <!-- 3rd Quarter -->
          <div class="p-field p-grid">
            <label
              for="quarterlyMoy3Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >3rd Quarter</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="quarterlyMoy3Id"
                formControlName="Quarterly3Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="Quarterly3Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>

          <!-- 4th Quarter -->
          <div class="p-field p-grid">
            <label
              for="quarterlyMoy4Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >4th Quarter</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="quarterlyMoy4Id"
                formControlName="Quarterly4Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="Quarterly4Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <!-- Semi-Annual -->
        <div *ngIf="periodSwitch === 8">
          <!-- 1st Annum -->
          <div class="p-field p-grid">
            <label
              for="semiAnnualMoy1Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >1st Annum</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="semiAnnualMoy1Id"
                formControlName="SemiAnnual1Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="SemiAnnual1Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
          <!-- 2nd Annum -->
          <div class="p-field p-grid">
            <label
              for="semiAnnualMoy2Id"
              class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >2nd Annum</label
            >
            <div class="p-col p-col-max-width-15">
              <p-dropdown
                id="semiAnnualMoy2Id"
                formControlName="SemiAnnual2Month"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
            <div class="p-col">
              <p-dropdown
                formControlName="SemiAnnual2Day"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <!-- Annual -->
        <div *ngIf="periodSwitch === 9">
          <!-- Month -->
          <div class="p-field p-grid">
            <label for="annualMoyId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Month</label
            >
            <div class="p-col">
              <p-dropdown
                id="annualMoyId"
                formControlName="AnnualMoy"
                [options]="months"
                placeholder="Select a Month"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
          <!-- Day of Month -->
          <div class="p-field p-grid">
            <label for="annualDomId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Day</label
            >
            <div class="p-col">
              <p-dropdown
                id="annualDomId"
                formControlName="AnnualDom"
                [options]="daysInMonth"
                placeholder="Select a Day"
                optionLabel="key"
                optionValue="value"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div *ngIf="periodSwitch !== 1">
          <!-- Date Range for Credit: Date Range Checkbox, Show Date Range DIV, Start Date & End Date Calendars -->
          <div class="p-field p-grid">
            <label for="dateRangeReqId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Date Range?</label
            >
            <div class="p-col p-field-checkbox">
              <p-checkbox
                formControlName="DateRangeReq"
                [binary]="true"
                (onChange)="showHideDateRange($event)"
              >
              </p-checkbox>
            </div>
          </div>
        </div>
        <!-- Show Date Range DIV -->
        <div
          *ngIf="dateRangeToggle && periodSwitch !== 4 && periodSwitch !== 1"
        >
          <!-- Start Date -->
          <div class="p-field p-grid">
            <label for="beginDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Start Date</label
            >
            <div class="p-col">
              <p-calendar
                id="beginDateId"
                placeholder="Select a start date"
                formControlName="BeginDate"
                [showIcon]="true"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-calendar>
            </div>
          </div>
        </div>
        <!-- Show Date Range DIV -->
        <div *ngIf="dateRangeToggle">
          <!-- End Date -->
          <div class="p-field p-grid">
            <label for="endDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >End Date</label
            >
            <div class="p-col">
              <p-calendar
                id="endDateId"
                placeholder="Select an end date"
                formControlName="EndDate"
                [showIcon]="true"
                [ngClass]="{ 'is-invalid': 'ng-invalid ng-dirty' }"
              ></p-calendar>
            </div>
          </div>
        </div>

        <!-- Control Buttons -->
        <div class="p-field p-grid">
          <div class="p-offset-2 p-col-6 top-spacer">
            <button
              pButton
              type="button"
              label="Save"
              style="width: 80px"
              type="submit"
              [title]="
                creditForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
              [disabled]="!creditForm.valid"
            ></button>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-secondary p-button-outlined"
              style="width: 80px"
              title="Cancel your edits"
              [routerLink]="['../../']"
            ></button>
            <button
              pButton
              type="button"
              label="Delete"
              class="p-button-danger p-button-outlined"
              style="width: 80px"
              title="Delete this product"
              (click)="deleteCredit()"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<p-confirmDialog
  position="top"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
></p-confirmDialog>
<!-- Informational Messages -->
<p-messages></p-messages>
