<div class="card">
  <div class="card-header">
    <div class="p-fluid p-d-flex p-ai-center">
      <div class="title-div left">
        <span>
          {{ pageTitle }}
        </span>
      </div>

    </div>
  </div>
  <div class="card-body">


  </div>
</div>



<!-- <h4>Home</h4>
<ul class="nav flex-column">
  <li class="nav-item">
    <a routerLink="/feature/item-detail">Item-Detail</a>
  </li>
  <li class="nav-item">
    <a routerLink="/feature/display/1">Display</a>
  </li>
  <li class="nav-item">
    <a routerLink="/feature/test">Testing</a>
  </li>
</ul> -->

