<div class="card">
  <div class="card-header">
    <div class="p-fluid p-d-flex p-ai-center">
      <div class="title-div left">
        <span>
          {{ pageTitle }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="content-section implementation">
      <div class="card">
        <p-galleria
          [value]="images"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '640px' }"
          [numVisible]="5"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="5000"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.previewImageSrc"
              style="width: 100%; display: block"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img [src]="item.thumbnailImageSrc" style="display: block" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </div>
</div>

