:host ::ng-deep {
  .card-header {
    background-color: #efefef;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
  }

  button {
    margin-right: 0.5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }

  .p-col-max-width-15 {
    width: auto;
    max-width: 15rem;
  }

  .left-card {
    padding: 0.75rem 0.75rem 0 0.75rem;;
  }

  .right-card {
    float: right;
    margin-left: 1rem;
  }

  .button-container {
    padding-left: 1rem;
  }
}
