:host ::ng-deep {
  .card-header {
    background-color: #efefef;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
  }

  button {
    margin-right: .5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }

  .p-col-max-width-15 {
    width: auto;
    max-width: 15rem;
  }

  .link-button {
    width: 9rem;
    text-align: left;
  }
}
