.header {
  background-color: #7d848c!important;
}

.header .header-text {
  color: whitesmoke !important;
}

.right-side-format {
  margin: .6rem;
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(0, 0, 0, 0.644);
  }
}



