<nav class="navbar navbar-light bg-light header">
  <div class="container-fluid">
    <a class="navbar-brand header-text" href="#">
      <img
        src="assets/images/1LE.jpg"
        alt=""
        width="45"
        height="35"
        class="d-inline-block align-top"
      />
      <label style="padding-top: .49rem; padding-left: 1rem;">{{ title }}</label>
    </a>
  </div>
</nav>

<p-menubar [model]="items">
  <span *ngIf="loggedIn" class="right-side-format">{{ claims?.name }}</span>
  <i
    *ngIf="loggedIn"
    class="pi pi-sign-out right-side-format"
    (click)="logout()"
    pTooltip="Logout"
    tooltipPosition="left"
  ></i>
  <i
    *ngIf="!loggedIn"
    class="pi pi-sign-in right-side-format"
    (click)="login()"
    pTooltip="Login"
    tooltipPosition="left"
  ></i>
</p-menubar>
