.header {
  background-color: #7d848c!important;
}

.header .header-text {
  color: whitesmoke !important;
}

.title {
  padding-top: 0.49rem;
  padding-left: 1rem;
  cursor: pointer;
}

.title-bar-sections {
  padding: .25rem .75rem .25rem .75rem;
}

.right {
  float: right;
}

i {
  padding-left: .5rem;
}







