<!-- Header Bar -->
<nav class="navbar navbar-light bg-light header">
  <div class="container-fluid">
    <a class="navbar-brand header-text" href="#">
      <img
        src="assets/images/Rick Donalson.jpg"
        alt=""
        width="45"
        height="35"
        class="d-inline-block align-top"
      />
      <label class="title">
        {{title}}
      </label>
    </a>
  </div>
  <!-- https://github.com/rdonalson/FinancialPlannerNg -->
  <div class="container-fluid">
    <span class="navbar-text">
      <a  href="https://github.com/rdonalson/FinancialPlannerNg">
        Find the code for this on GitHub
      </a>
    </span>
  </div>
</nav>
<!-- Navigation Menues -->
<p-menubar *ngIf="!loggedIn">
  <!-- Login Button-->
  <button
    pButton
    pRipple
    label="Login"
    *ngIf="!loggedIn"
    icon="pi pi-sign-in"
    type="button"
    class="p-button-success p-button-outlined p-button-rounded"
    iconPos="right"
    (click)="login()"
  ></button>
</p-menubar>

<p-menubar *ngIf="loggedIn" [model]="menuItems">
  <!-- Logout Button & User Name -->
  <button
    pButton
    pRipple
    label="{{ claims?.name }}"
    *ngIf="loggedIn"
    icon="pi pi-sign-out"
    type="button"
    class="p-button-success p-button-outlined p-button-rounded"
    iconPos="right"
    (click)="logout()"
    pTooltip="Logout"
    tooltipPosition="left"
  ></button>
</p-menubar>

<!-- Archive
  <p-menubar [model]="menuItems">
  <span *ngIf="loggedIn" class="right-side-format">{{ claims?.name }}</span>
  <span *ngIf="!loggedIn" class="right-side-format">Login</span>
  <i
    *ngIf="loggedIn"
    class="pi pi-sign-out right-side-format"
    (click)="logout()"
    pTooltip="Logout"
    tooltipPosition="left"
  ></i>
  <i
    *ngIf="!loggedIn"
    class="pi pi-sign-in right-side-format login-text"
    (click)="login()"
    pTooltip="Login"
    tooltipPosition="left"
  >&nbsp;Login</i>
</p-menubar> -->
