@import url(../shared/styles/feature-common.scss);
@import url(../display/shared/styles/display-common.scss);

:host ::ng-deep {
  .card-header {
    background-color: #efefef;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
  }

  button {
    margin-right: .5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }

  .p-col-max-width-15 {
    width: auto;
    max-width: 15rem;
  }

  .p-calendar {
    height: 2.38rem;
    max-width: 14.5rem;
  }

  .p-checkbox {
    padding-top: .5rem;
  }

}

// :host ::ng-deep .custom-spinner .p-progress-spinner-circle {
//   animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
// }

// @keyframes custom-progress-spinner-color {
//   100%,
//   0% {
//       stroke: #16697A;
//   }
//   40% {
//       stroke: #16697A;
//   }
//   66% {
//       stroke: #16697A;
//   }
//   80%,
//   90% {
//       stroke: #16697A;
//   }
// }

// @keyframes custom-progress-spinner-dash {
//   0% {
//       stroke-dasharray: 1, 200;
//       stroke-dashoffset: 0;
//   }
//   50% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -35px;
//   }
//   100% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -124px;
//   }
// }
