<div class="card">
  <div class="card-header" >
    <div class="p-fluid p-d-flex p-ai-center">
      <div class="title-div left">
        <span>
          {{ pageTitle }}
        </span>
      </div>
      <div class="right">
        <button
          pButton
          pRipple
          label="Calculate"
          icon="pi pi-clock"
          class="p-button-success p-mr-2"
          (click)="calculate()"
        ></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate = "header">
              <i class="pi pi-calendar"></i>
              <span>&nbsp;Date Range</span>
          </ng-template>
          <div>
          <!-- Start Date -->
          <div class="p-field p-grid">
            <label for="beginDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Start Date</label
            >
            <div class="p-col">
              <p-calendar
                id="beginDateId"
                placeholder="Select a start date"
                formControlName="BeginDate"
                [showIcon]="true"
                tooltipPosition="left"
              ></p-calendar>
            </div>
          </div>
        </div>
        <div >
          <!-- End Date -->
          <div class="p-field p-grid">
            <label for="endDateId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >End Date</label
            >
            <div class="p-col">
              <p-calendar
                id="endDateId"
                placeholder="Select an end date"
                formControlName="EndDate"
                [showIcon]="true"
                tooltipPosition="left"
              ></p-calendar>
            </div>
          </div>
        </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-chart-line"></i>
                <span>&nbsp;Chart</span>
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate = "header">
                <i class="pi pi-list"></i>
                <span>&nbsp;Ledger</span>
            </ng-template>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
    </p-tabView>
  </div>
</div>
