@import url(../shared/styles/feature-common.scss);
@import url(../display/shared/styles/display-common.scss);

:host ::ng-deep {
  .card-header {
    background-color: #efefef;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
  }


  button {
    margin-right: .5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }

  .p-col-max-width-15 {
    width: auto;
    max-width: 15rem;
  }

  .p-calendar {
    height: 2.38rem;
    max-width: 14.5rem;
  }

  .p-checkbox {
    padding-top: .5rem;
  }

}

